<div class = "container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Description</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="col">1</td>
      <td scope="col">First</td>
      <td scope="col">Last</td>
      <td scope="col">Handle</td>
      <td scope="col">Description</td>
      <td scope="col"><a href="">Edit</a></td>
      <td scope="col"><a href="">Delete</a></td>
    </tr>
  </tbody>
</table>
</div>