


<div class = "header" id = "header-container" style=" background-image : linear-gradient( to right,rgb(127, 78, 173), rgb(69, 90, 211) )" >
  <div style="margin-left:78%  ">
      <input type="button" id="slide_start_button" value="Sign up" 
        style="background-color: rgb(127, 78, 173); color: white; padding: 5px 22px; font-weight:bold; margin-right:7%; border-radius:30px">
      <input type="button" id="slide_stop_button"  value="Sign in"
        style="background-color: rgb(69, 90, 211); color: white; padding: 5px 22px; font-weight:bold; border-radius:30px">
  </div>
</div>